Repository ericcornelissen/svgo-action, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, dependencies, docs, meta, security, test

chore(deps): bump SVGO from v3.1.0 to v3.2.0
  package-lock.json
  package.json
Labels: dependencies

chore: update the changelog
  CHANGELOG.md
Labels: none

chore: version bump
  CHANGELOG.md
  lib/index.cjs
  package-lock.json
  package.json
Labels: dependencies

chore(deps): update transitive dependencies
  package-lock.json
Labels: dependencies

chore: change deprecation notice to a warning
  README.md
  docs/events.md
  docs/examples.md
  docs/inputs.md
  docs/outputs.md
  src/helpers/deprecation.ts
  test/unit/helpers/deprecation.test.ts
Labels: docs, test

chore: update the changelog
  CHANGELOG.md
Labels: none

chore: update cosign
  .tool-versions
Labels: dependencies

ci: update egress policy related to Codecov
  .github/workflows/check.yml
  .github/workflows/config-codecov.yml
Labels: ci/cd

chore: update knip configuration
  .knip.jsonc
Labels: meta

chore: update husky usage
  package.json
  script/hooks/commit-msg
  script/hooks/pre-commit
  script/hooks/pre-push
Labels: none

chore: update `tool-versions-update-action` usage
  .github/workflows/nightly.yml
Labels: ci/cd

chore: update TypeScript plugin for ESLint usage
  .eslintrc.cjs
Labels: meta

chore: version bump
  CHANGELOG.md
  lib/index.cjs
  package-lock.json
  package.json
Labels: dependencies

chore(deps): bump dependency socks
  package-lock.json
Labels: dependencies

chore: fix missing space
  src/helpers/deprecation.ts
  test/unit/helpers/deprecation.test.ts
Labels: test

chore: update the changelog
  CHANGELOG.md
Labels: none

chore: version bump
  CHANGELOG.md
  lib/index.cjs
  package-lock.json
  package.json
Labels: dependencies

chore: update the changelog
  CHANGELOG.md
Labels: none

ci: audit only when necessary
  .github/workflows/audit.yml
Labels: ci/cd

chore(deps): update transitive dependencies
  package-lock.json
Labels: dependencies

Update actionlint
  .tool-versions
Labels: dependencies

chore: update ESLint and lockfile lint configurations
  .eslintrc.cjs
  .lockfile-lintrc.yml
Labels: meta

Update shellcheck
  .tool-versions
Labels: dependencies

chore(deps): update transitive dependencies
  package-lock.json
Labels: dependencies

chore: update ESLint configuration
  .eslintrc.cjs
Labels: meta

ci: fix Codecov integration
  .github/workflows/check.yml
Labels: ci/cd

chore: update the changelog
  CHANGELOG.md
Labels: none

docs: updates for end of life of v4 and the project
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/events.md
  docs/examples.md
  docs/inputs.md
  docs/outputs.md
Labels: docs

chore: replace the deprecation warning by a deprecation error
  README.md
  __mocks__/@actions/core.ts
  src/helpers/deprecation.ts
  src/types.d.ts
  test/unit/helpers/deprecation.test.ts
Labels: docs, test

chore: update the changelog
  CHANGELOG.md
Labels: none

Update cosign
  .tool-versions
Labels: dependencies

chore(deps): update transitive dependencies
  package-lock.json
Labels: dependencies

chore: version bump
  CHANGELOG.md
  lib/index.cjs
  package-lock.json
  package.json
Labels: dependencies

chore: update the release date for v4.0.9
  CHANGELOG.md
Labels: none

chore: clear up changelog
  CHANGELOG.md
Labels: none

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/codecov.yml
          - .github/labeler.yml
          - .github/renovate.json

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - .nvmrc
          - .tool-versions
          - package-lock.json

docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - README.md

meta:
  - changed-files:
      - any-glob-to-any-file:
          - .github/ISSUE_TEMPLATE/*
          - .github/labeler.yml
          - .github/pull_request_template.md
          - .editorconfig
          - .eslintrc.cjs
          - .gitattributes
          - .gitignore
          - .hadolint.yml
          - .knip.jsonc
          - .licensee.json
          - .lockfile-lintrc.yml
          - .markdownlint.yml
          - .npmrc
          - .shellcheckrc
          - commitlint.config.cjs

security:
  - changed-files:
      - any-glob-to-any-file:
          - .github/codeql-config.yml
          - .nsprc

test:
  - changed-files:
      - any-glob-to-any-file:
          - test/**
          - test/**/*
          - jest.config.js
          - stryker.config.js
