Repository ericcornelissen/svgo-action, pull requests merged in 2021-09, with the labels that each got.

#417 chore(deps): update all dependencies
  package-lock.json
  package.json
Labels: dependencies, v1

#404 Add more integration tests
  __mocks__/@actions/core.ts
  __mocks__/@actions/github.ts
  __mocks__/node-eval.ts
  test/integration/file-systems.test.ts
  test/integration/helpers.test.ts
  test/integration/inputs.test.ts
  test/integration/main.test.ts
  test/integration/outputs.test.ts
Labels: test, v2

#418 Add deprecation warning that v1 (general) support ends on 2022-05-31
  src/main.ts
  test/mocks/@actions/core.mock.ts
Labels: v1

#419 Run integration tests in CI
  .github/codecov.yml
  .github/workflows/push-checks.yml
Labels: ci/cd

#421 Add an `.npmrc` file
  .npmrc
  .nvmrc
  package-lock.json
  package.json
Labels: meta

#422 Fix ESLint warning: no explicit any
  .eslintrc.js
  test/integration/helpers.test.ts
Labels: meta, refactor

#420 Use the action/core's `getMultilineInput` function
  CHANGELOG.md
  __mocks__/@actions/core.ts
  src/constants/inputs.ts
  src/inputs/getters.ts
  src/types.d.ts
  test/__common__/inputter.mock.ts
  test/integration/inputs.test.ts
  test/unit/inputs/getters.test.ts
  test/unit/inputs/index.test.ts
Labels: refactor, v2

#424 Fix mistake in example workflow
  CHANGELOG.md
  docs/examples.md
Labels: docs

#426 Upgrade SVGO v2 from v2.5.0 to v2.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: enhancement, dependencies, v1

#427 Upgrade SVGO v2 from v2.5.0 to v2.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: enhancement, dependencies, v2

#429 Upgrade SVGO v2 from v2.6.0 to v2.6.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: enhancement, dependencies, v1

#428 Update package inputs, expose `provided` information
  src/helpers/filters.ts
  src/helpers/svgo-config.ts
  src/inputs/__mocks__/__common__.ts
  src/inputs/__mocks__/getters.ts
  src/inputs/__mocks__/index.ts
  src/inputs/getters.ts
  src/inputs/index.ts
  src/inputs/types.d.ts
  src/main.ts
  src/optimize/index.ts
  src/svgo/index.ts
  test/integration/helpers.test.ts
  test/integration/inputs.test.ts
  test/integration/optimize.test.ts
  test/integration/svgo.test.ts
  test/unit/helpers/filters.test.ts
  test/unit/helpers/svgo-config.test.ts
  test/unit/inputs/getters.test.ts
  test/unit/inputs/index.test.ts
  test/unit/main.test.ts
  test/unit/optimize/index.test.ts
  test/unit/svgo/index.test.ts
Labels: refactor, v2

#430 Upgrade SVGO v2 from v2.6.0 to v2.6.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: enhancement, dependencies, v2

#432 Omit warning message about SVGO config if it's not provided as input
  CHANGELOG.md
  src/main.ts
  test/unit/main.test.ts
Labels: enhancement, v2

#416 General refactoring
  src/constants/events.ts
  src/constants/inputs.ts
  src/helpers/svgo-config.ts
  src/inputs/__mocks__/index.ts
  src/inputs/getters.ts
  src/main.ts
  src/outputs/__mocks__/index.ts
  src/outputs/index.ts
  test/integration/helpers.test.ts
  test/integration/outputs.test.ts
  test/unit/helpers/svgo-config.test.ts
  test/unit/inputs/index.test.ts
  test/unit/main.test.ts
  test/unit/outputs/index.test.ts
Labels: refactor, v2

#431 Update Contributing Guidelines
  CONTRIBUTING.md
Labels: meta, v2

#434 Refactor package file systems
  src/file-systems/__mocks__/__common__.ts
  src/file-systems/__mocks__/base.ts
  src/file-systems/__mocks__/filtered.ts
  src/file-systems/__mocks__/index.ts
  src/file-systems/base.ts
  src/file-systems/filtered.ts
  src/file-systems/index.ts
  src/file-systems/types.d.ts
Labels: refactor, v2

#439 Fix dry-run behaviour when configured incorrectly
  CHANGELOG.md
  src/inputs/getters.ts
  test/unit/inputs/getters.test.ts
Labels: bug, v2

#438 Improve the end-to-end tests.
  .github/workflows/push-checks.yml
  CONTRIBUTING.md
  src/helpers/filters.ts
  test/end-to-end/.svgo.yml
  test/end-to-end/ignore/ignored-1.svg
  test/end-to-end/not-optimized-1.svg
  test/end-to-end/not-optimized-2.svg
  test/end-to-end/optimized-1.svg
  test/end-to-end/svgo.config.js
Labels: test, ci/cd

#445 Add outputs to Action manifest
  CHANGELOG.md
  action.yml
Labels: enhancement, v2

#448 Upgrade SVGO from v2.6.0 to v2.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: enhancement, dependencies, v1

#449 Add outputs to Action manifest
  CHANGELOG.md
  action.yml
Labels: enhancement, v1

#436 Add strict mode
  CHANGELOG.md
  README.md
  action.yml
  docs/inputs.md
  src/constants/inputs.ts
  src/inputs/__mocks__/__common__.ts
  src/inputs/__mocks__/getters.ts
  src/inputs/getters.ts
  src/inputs/index.ts
  src/inputs/types.d.ts
  src/main.ts
  test/unit/inputs/getters.test.ts
  test/unit/inputs/index.test.ts
  test/unit/main.test.ts
Labels: enhancement, v2

#446 Upgrade SVGO from v2.6.0 to v2.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: enhancement, dependencies, v2

#452 strict option added to all inputs tables in the documentation
  docs/events.md
Labels: docs, v2

#450 Refactor `main`
  src/action-management/__mocks__/action-manager.ts
  src/action-management/__mocks__/helpers.ts
  src/action-management/__mocks__/index.ts
  src/action-management/action-manager.ts
  src/action-management/helpers.ts
  src/action-management/index.ts
  src/action-management/types.d.ts
  src/main.ts
  src/outputs/index.ts
  test/integration/action-management.test.ts
  test/integration/outputs.test.ts
  test/unit/action-management/action-manager.test.ts
  test/unit/action-management/helpers.test.ts
  test/unit/action-management/index.test.ts
  test/unit/inputs/index.test.ts
  test/unit/main.test.ts
  test/unit/outputs/index.test.ts
Labels: refactor, v2
